[submodule "Assets/HapticPluginForUnity_ModificationInInitialization"]
	path = Assets/HapticPluginForUnity_ModificationInInitialization
	url = https://github.com/hotdogwithdog/HapticPluginForUnity_ModificationInInitialization.git
